<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/global.css" />
    </head>

    <body>
        <h1>New Car</h1>

        <form method="post" action="/cars">

            <label for="id">ID</label>
            <input type="text" id="id" name="id" placeholder="id" />
            </br>

            <label for="brand">Brand</label>
            <input type="text" id="brand" name="brand" placeholder="brand" />
            </br>

            <label for="model">Model</label>
            <input type="text" id="model" name="model" placeholder="model" />
            </br>

            <input type="submit" value="Create" class="submit" />

        </form>
    </body>
</html>